button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus,
	&:hover {
		background-color: #ddd;
		border-color: #bbb;
	}
}
