.wp-caption {
	margin-top: 0;
	margin-bottom: $base__margin;
	max-width: 100%;

	&:not(.alignleft):not(.alignright) {
		margin-left: auto;
		margin-right: auto;
	}

	&-text {
		margin: 1em 0;
	}
}

.wp-caption-text {
	font-size: 0.813em;
	line-height: 1.3;
	text-align: center;
}
