h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $black;
	clear: both;
	font-family: $headings-font-family;
	margin: 0 0 $paragraph-spacing;
}

h1, .h1 {
	font-size: $scale-6;
	line-height: 1.1;
}

h2, .h2 {
	font-size: $scale-5;
	line-height: 1.2;
}

h3, .h3 {
	font-size: $scale-4;
	line-height: 1.3;
}

h4, .h4 {
	font-size: $scale-3;
	line-height: 1.4;
}

h5, .h5 {
	font-size: $scale-2;
	line-height: 1.5;
}

h6, .h6 {
	font-size: inherit;
	line-height: inherit;
}
