audio,
canvas,
iframe,
img,
video {
	max-width: 100%;
}

figure {
	margin: 0 0 $paragraph-spacing;
	max-width: 100%;
}
figcaption {
	font-size: $scale-0;
	text-align: center;
}

img {
	height: auto;
}
