.content-layout-content-sidebar {

	@include breakpoint( large ) {

		.site-main {
			float: left;
			margin-right: -33.333%;
			width: 100%;
		}

		.site-main-inner {
			margin-right: 33.333%;
			padding-right: $scale-6;
		}

		.site-sidebar {
			float: right;
			width: 33.333%;
		}
	}
}
