.content-layout-sidebar-content {

	@include breakpoint( large ) {

		.site-main {
			float: right;
			margin-left: -33.333%;
			width: 100%;
		}

		.site-main-inner {
			margin-left: 33.333%;
			padding-left: $scale-6;
		}

		.site-sidebar {
			float: left;
			width: 33.333%;
		}
	}
}
