.content-layout-sidebar-content {

	.site-main {
		float: right;
		margin: 0 0 0 -33.333%;
		width: 100%;
	}

	.site-main-inner {
		margin: 0 0 0 33.333%;
		padding-right: $base__margin * 2;
	}

	.sidebar-primary {
		float: left;
		width: 33.333%;
	}
}
